@use 'globals' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

main {
    position: relative;
    background-color: $purple-100;
    overflow: hidden;
}

.header {
    background-color: $purple-900;
    padding: $spacing-400 $spacing-250 0rem $spacing-250;

    &__nav {
        @include flex(row, center, space-between);
    }
}

.hero_wrapper {
    background-color: $purple-100;
}

.value_wrapper {
    background-color: $white;
}

.hero {
    background-color: $purple-900;
    padding: $spacing-700 $spacing-250 $spacing-1800 $spacing-250;
    clip-path: ellipse(130% 100% at top);
    margin-bottom: $spacing-1000;

    &__content {
        @include flex(column, center, center);
        gap: $spacing-500;
    }

    h1 {
        color: $white;
        @include text-1;
        & {
            text-align: center;
        }
    }

    .underlined {
        text-decoration: underline;
        text-decoration-color: $green;
        text-decoration-thickness: 3px;
    }
}

.decoration-left {
    display: none;
    position: absolute;
    top: 0;
    left: -29%;
}

.decoration-right {
    display: none;
    position: absolute;
    top: 8%;
    right: -11%;
}

.hero_img {
    position: absolute;
    width: 90vw;
    top: 13.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
}

.value {
    background-color: $purple-100;
    padding: $spacing-800 $spacing-250;
    @include flex(column, center, center);
    gap: $spacing-400;
    text-align: center;
    clip-path: ellipse(200% 100% at top);

    &__item {
        @include flex(column, center, center);
        gap: $spacing-300;

        .number {
            border: 1px solid $purple-900;
            border-radius: 50%;
            min-width: 3rem;
            min-height: 3rem;
            @include flex(row, center, center);
            @include fraunces;
            & {
                font-family: "Fraunces";
                font-weight: 600;
                font-size: 1.25rem;
            }
        }

        .text {
            @include flex(column, center, center);
            gap: $spacing-200;
        }

        h2 {
            @include text-3;
        }

        p {
            @include text-4;
        }
    }
}

.cta {
    background-color: $white;
    padding: $spacing-1400 $spacing-250 0rem $spacing-250;
    @include flex(column, center, center);

    img {
        width: 80vw;
    }

    &__content {
        display: block;
        background-color: $purple-900;
        color: $white;
        @include flex(column, center, center);
        padding: $spacing-400;
        gap: $spacing-400;
        transform: translateY(-13%);

        h2 {
            @include text-2;
        }

        p {
            @include text-4;
        }
    }
}

.cta-decoration {
    display: none;
    position: absolute;
    bottom: 8%;
    right: 8%;
}

.footer {
    padding: $spacing-1000;
    padding-top: calc($spacing-1000 - 13%);
    @include flex(column, center, center);
    gap: $spacing-550;

    &__socials {
        @include flex(row, center, center);
        gap: $spacing-350;
        
        img:hover {
            filter: brightness(0) saturate(100%) invert(12%) sepia(11%) saturate(6893%) hue-rotate(244deg) brightness(98%) contrast(117%);
        }
    }
}

.btn-primary {
    border: none;
    background-color: $green;
    color: $purple-900;
    @include btn-text;
    & {
        padding: $spacing-150 $spacing-400;
    }
    
    &:hover {
        outline: 3px solid $green;
        outline-offset: -3px;
        background-color: transparent;
        color: $green;
        transition: background-color 0.1s ease-in-out;
    }
}

.btn-secondary {
    @include btn-text;
    & {
        text-decoration: none;
        border-bottom: 3px solid $green;
        color: $white;
        transition: color 0.1s ease-in-out;
    }

    &:hover {
        color: $green;
        transition: color 0.1s ease-in-out;
    }
}