$green: #44ffa1;
$white: #fff;

$purple-900: #24053e;
$purple-500: #584d62;
$purple-100: #fcf8ff;

$spacing-100: 0.5rem; //8px
$spacing-150: 0.75rem; //12px
$spacing-200: 1rem; //16px
$spacing-250: 1.25rem; //20px
$spacing-300: 1.5rem; //24px
$spacing-350: 1.75rem; //28px
$spacing-400: 2rem; //32px
$spacing-500: 2.5rem; //40px
$spacing-550: 2.75rem; //44px
$spacing-700: 3.5rem; //56px
$spacing-800: 4rem; //64px
$spacing-1000: 5rem; //80px
$spacing-1100: 5.5rem; //88px
$spacing-1400: 7rem; //112px
$spacing-1600: 8rem; //128px
$spacing-1800: 9rem; //144px
$spacing-2100: 10.5rem; //168px
$spacing-3700: 18.5rem; //296px

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 90rem;