* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  background-color: #fcf8ff;
  overflow: hidden;
}

.header {
  background-color: #24053e;
  padding: 2rem 1.25rem 0rem 1.25rem;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero_wrapper {
  background-color: #fcf8ff;
}

.value_wrapper {
  background-color: #fff;
}

.hero {
  background-color: #24053e;
  padding: 3.5rem 1.25rem 9rem 1.25rem;
  clip-path: ellipse(130% 100% at top);
  margin-bottom: 5rem;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.hero h1 {
  color: #fff;
}
@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("opentype");
}
.hero h1 {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
}
@media screen and (min-width: 48rem) {
  .hero h1 {
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 64rem) {
  .hero h1 {
    font-size: 5rem;
  }
}
.hero h1 {
  text-align: center;
}
.hero .underlined {
  text-decoration: underline;
  text-decoration-color: #44ffa1;
  text-decoration-thickness: 3px;
}

.decoration-left {
  display: none;
  position: absolute;
  top: 0;
  left: -29%;
}

.decoration-right {
  display: none;
  position: absolute;
  top: 8%;
  right: -11%;
}

.hero_img {
  position: absolute;
  width: 90vw;
  top: 13.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.value {
  background-color: #fcf8ff;
  padding: 4rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  clip-path: ellipse(200% 100% at top);
}
.value__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.value__item .number {
  border: 1px solid #24053e;
  border-radius: 50%;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("opentype");
}
.value__item .number {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 1.25rem;
}
.value__item .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("opentype");
}
.value__item h2 {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
}
@media screen and (min-width: 48rem) {
  .value__item h2 {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 64rem) {
  .value__item h2 {
    font-size: 2rem;
  }
}
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("opentype");
}
.value__item p {
  font-family: "Manrope";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}
@media screen and (min-width: 64rem) {
  .value__item p {
    font-size: 1.125rem;
  }
}

.cta {
  background-color: #fff;
  padding: 7rem 1.25rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta img {
  width: 80vw;
}
.cta__content {
  display: block;
  background-color: #24053e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  transform: translateY(-13%);
}
@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("opentype");
}
.cta__content h2 {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
}
@media screen and (min-width: 48rem) {
  .cta__content h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 64rem) {
  .cta__content h2 {
    font-size: 3.5rem;
  }
}
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("opentype");
}
.cta__content p {
  font-family: "Manrope";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}
@media screen and (min-width: 64rem) {
  .cta__content p {
    font-size: 1.125rem;
  }
}

.cta-decoration {
  display: none;
  position: absolute;
  bottom: -1%;
  right: 8%;
}

.footer {
  padding: 5rem;
  padding-top: calc(5rem - 13%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.75rem;
}
.footer__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}

.btn-primary {
  border: none;
  background-color: #44ffa1;
  color: #24053e;
}
@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("opentype");
}
.btn-primary {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
}
.btn-primary {
  padding: 0.75rem 2rem;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("opentype");
}
.btn-secondary {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
}
.btn-secondary {
  text-decoration: none;
  border-bottom: 3px solid #44ffa1;
  color: #fff;
}

@media screen and (min-width: 48rem) {
  .header {
    padding: 2rem 2.75rem 0rem 2.75rem;
  }
  .hero {
    padding: 3.5rem 2.75rem 10.5rem 2.75rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero__content {
    width: 65%;
  }
  .decoration-left {
    display: inline;
  }
  .decoration-right {
    display: inline;
  }
  .hero_img {
    width: 65vw;
    top: 16%;
  }
  .value {
    padding: 3.5rem 2.75rem 8rem 2.75rem;
    clip-path: ellipse(100% 100% at top);
  }
  .value__item {
    flex-direction: row;
    gap: 3.5rem;
  }
  .value__item .text {
    align-items: flex-start;
    text-align: start;
  }
  .cta {
    padding: 7rem 2.75rem 0rem 2.75rem;
    align-items: flex-start;
  }
  .cta img {
    width: 35vw;
  }
  .cta__content {
    padding: 3rem;
    width: 75%;
    translate: 34% -15%;
    align-items: flex-start;
  }
  .cta-decoration {
    display: inline;
  }
}
@media screen and (min-width: 64rem) {
  .header {
    padding: 3.5rem 5rem 0rem 5rem;
  }
  .hero {
    padding: 3.5rem 5rem 18.5rem 5rem;
    margin-bottom: 10.5rem;
  }
  .hero__content {
    width: 50%;
  }
  .decoration-left {
    top: 2%;
    left: -6%;
  }
  .decoration-right {
    top: 10%;
    right: -3%;
  }
  .hero_img {
    width: 50vw;
    top: 16%;
  }
  .value {
    padding: 5.5rem 5rem 15rem 5rem;
    flex-direction: row;
    align-items: stretch;
  }
  .value__item {
    flex-direction: column;
    gap: 3.5rem;
    flex: 1;
  }
  .value__item .text {
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    flex-grow: 1;
  }
  .cta {
    padding: 7rem 5rem 0rem 5rem;
    align-items: center;
    margin-bottom: -20%;
  }
  .cta img {
    translate: -60%;
  }
  .cta__content {
    padding: 4rem;
    width: 60%;
    translate: 34% -60%;
    align-items: flex-start;
  }
  .cta-decoration {
    bottom: -3%;
  }
  .footer {
    padding: 7rem;
  }
}/*# sourceMappingURL=styles.css.map */